[JENKINS-12875] "No valid crumb was included in the request" errors all around

<!-- ### Imported Jira references for easier searching -->
<!-- [jira_issue_key=JENKINS-12875] -->
<!-- [jira_issue_type=Bug] -->
<!-- [jira_relationships_epic_key=JENKINS-33810] -->
<!-- [reporter=naloy] -->
<!-- [assignee=danielbeck] -->
<!-- [author=naloy] -->
<!-- [jira_component=core] -->
<!-- [jira_label=2.0] -->
<!-- [jira_label=2.0-planned] -->
<!-- [jira_label=crumb] -->
<!-- [jira_issues_importer_version=1.2.0] -->

<p>After upgrading Jenkins from 1.448 to 1.451 (with yum, upgraded plugins too) several parts of Jenkins have become unusable with error "No valid crumb was included in the request":</p>

<h4><a name="Consoleoutput"></a>Console output</h4>

<ul>
	<li>When building, the log is unavailable, see <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21553/21553_console_log.png" title="console_log.png attached to JENKINS-12875">console_log.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span></li>
	<li>Once the build is done, the complete log is available, but the same error appears on the side <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21552/21552_console_side.png" title="console_side.png attached to JENKINS-12875">console_side.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span></li>
</ul>


<h4><a name="Buildconfiguration"></a>Build configuration</h4>

<ul>
	<li>Builds cannot be launched anymore from the build page (The firebug error console displays the "No valid crumb was included in the request" error). They still can be launched from the dashboard though.</li>
	<li>Cannot add build steps (when choosing a build step type an error is reported in background), see <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21556/21556_add_build_step.png" title="add_build_step.png attached to JENKINS-12875">add_build_step.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span></li>
</ul>


<h4><a name="ManageJenkinsconfiguration"></a>Manage Jenkins configuration</h4>

<ul>
	<li>The page loads only partially (first half is permanently greyed out, see <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21555/21555_configuration.png" title="configuration.png attached to JENKINS-12875">configuration.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span>). The firebug error console displays the "No valid crumb was included in the request" error.</li>
</ul>


<h4><a name="ManageJenkinsplugins"></a>Manage Jenkins plugins</h4>

<ul>
	<li>Cannot upgrade nor downgrade, see error shown <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21554/21554_plugins.png" title="plugins.png attached to JENKINS-12875">plugins.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span></li>
</ul>


---
<details><summary><i>Originally reported by <a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=naloy">naloy</a>, imported from: <a class="no-jira-link-rewrite" href="https://issues.jenkins.io/browse/JENKINS-12875" target="_blank">"No valid crumb was included in the request" errors all around</a></i></summary>
<i><ul>
<li><b>assignee</b>: <img align="left" width="20" src="https://raw.githubusercontent.com/jenkinsci/artifacts-from-jira-issues/refs/heads/main/avatars/danielbeck.png" title="danielbeck's avatar" /> <a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=danielbeck">danielbeck</a>
<li><b>status</b>: Resolved
<li><b>priority</b>: Critical
<li><b>component(s)</b>: core
<li><b>label(s)</b>: 2.0, 2.0-planned, crumb
<li><b>resolution</b>: Fixed
<li><b>resolved</b>: 2016-04-01T23:57:26+00:00
<li><b>votes</b>: 20
<li><b>watchers</b>: 43
<li><b>imported</b>: 2025-11-24
</ul></i>
<details><summary>Raw content of original issue</summary>

<pre>
<p>After upgrading Jenkins from 1.448 to 1.451 (with yum, upgraded plugins too) several parts of Jenkins have become unusable with error "No valid crumb was included in the request":</p>

<h4><a name="Consoleoutput"></a>Console output</h4>

<ul>
	<li>When building, the log is unavailable, see <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21553/21553_console_log.png" title="console_log.png attached to JENKINS-12875">console_log.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span></li>
	<li>Once the build is done, the complete log is available, but the same error appears on the side <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21552/21552_console_side.png" title="console_side.png attached to JENKINS-12875">console_side.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span></li>
</ul>


<h4><a name="Buildconfiguration"></a>Build configuration</h4>

<ul>
	<li>Builds cannot be launched anymore from the build page (The firebug error console displays the "No valid crumb was included in the request" error). They still can be launched from the dashboard though.</li>
	<li>Cannot add build steps (when choosing a build step type an error is reported in background), see <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21556/21556_add_build_step.png" title="add_build_step.png attached to JENKINS-12875">add_build_step.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span></li>
</ul>


<h4><a name="ManageJenkinsconfiguration"></a>Manage Jenkins configuration</h4>

<ul>
	<li>The page loads only partially (first half is permanently greyed out, see <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21555/21555_configuration.png" title="configuration.png attached to JENKINS-12875">configuration.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span>). The firebug error console displays the "No valid crumb was included in the request" error.</li>
</ul>


<h4><a name="ManageJenkinsplugins"></a>Manage Jenkins plugins</h4>

<ul>
	<li>Cannot upgrade nor downgrade, see error shown <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21554/21554_plugins.png" title="plugins.png attached to JENKINS-12875">plugins.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span></li>
</ul>
</pre>
</details>
</details>
<ul><li><i>environment</i>: <code>CentOS release 5.5 (Final) 64b</code></li></ul>
<details><summary><i>6 attachments</i></summary>

- [Screen Shot 2014-03-12 at 10.43.58 AM.png](https://raw.githubusercontent.com/jenkinsci/attachments-from-jira-issues-core-cli/refs/heads/main/attachments/25542/Screen%20Shot%202014-03-12%20at%2010.43.58%20AM.png)
  > ![Screen Shot 2014-03-12 at 10.43.58 AM.png](https://raw.githubusercontent.com/jenkinsci/attachments-from-jira-issues-core-cli/refs/heads/main/attachments/25542/Screen%20Shot%202014-03-12%20at%2010.43.58%20AM.png)
- [add_build_step.png](https://raw.githubusercontent.com/jenkinsci/attachments-from-jira-issues-core-cli/refs/heads/main/attachments/21556/add_build_step.png)
  > ![add_build_step.png](https://raw.githubusercontent.com/jenkinsci/attachments-from-jira-issues-core-cli/refs/heads/main/attachments/21556/add_build_step.png)
- [configuration.png](https://raw.githubusercontent.com/jenkinsci/attachments-from-jira-issues-core-cli/refs/heads/main/attachments/21555/configuration.png)
  > ![configuration.png](https://raw.githubusercontent.com/jenkinsci/attachments-from-jira-issues-core-cli/refs/heads/main/attachments/21555/configuration.png)
- [console_log.png](https://raw.githubusercontent.com/jenkinsci/attachments-from-jira-issues-core-cli/refs/heads/main/attachments/21553/console_log.png)
  > ![console_log.png](https://raw.githubusercontent.com/jenkinsci/attachments-from-jira-issues-core-cli/refs/heads/main/attachments/21553/console_log.png)
- [console_side.png](https://raw.githubusercontent.com/jenkinsci/attachments-from-jira-issues-core-cli/refs/heads/main/attachments/21552/console_side.png)
  > ![console_side.png](https://raw.githubusercontent.com/jenkinsci/attachments-from-jira-issues-core-cli/refs/heads/main/attachments/21552/console_side.png)
- [plugins.png](https://raw.githubusercontent.com/jenkinsci/attachments-from-jira-issues-core-cli/refs/heads/main/attachments/21554/plugins.png)
  > ![plugins.png](https://raw.githubusercontent.com/jenkinsci/attachments-from-jira-issues-core-cli/refs/heads/main/attachments/21554/plugins.png)
</details>

<!-- ### Imported Jira references for easier searching -->
<!-- [synthetic_comment=remote_links] -->
- _Remote link associated with this issue:_


  - [PR 1319](https://github.com/jenkinsci/jenkins/pull/1319)

<!-- ### Imported Jira references for easier searching -->
<!-- [jira_issue_key=JENKINS-12875] -->
<!-- [jira_comment_id=212970] -->
<!-- [comment_author=jglick] -->
<details><summary><i><img align="left" width="20" src="https://raw.githubusercontent.com/jenkinsci/artifacts-from-jira-issues/refs/heads/main/avatars/jglick.png" title="jglick's avatar" /> jglick:</i></summary>

<ul>
<li><i>Original <a class="no-jira-link-rewrite" href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=212970&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-212970">comment link</a></i>
<li><details><summary><i>Raw content of original comment:</i></summary>

<pre>
<p>Be warned that <tt>-Dhudson.security.csrf.requestfield=crumb</tt> will cause the attempts by some REST API clients to obtain a crumb to be rejected by the fix of SECURITY-47, as <tt>crumb</tt> is a valid JavaScript identifier that would open you to attack.</p>
</pre>
</details>

</ul>
</details>

<p>Be warned that <tt>-Dhudson.security.csrf.requestfield=crumb</tt> will cause the attempts by some REST API clients to obtain a crumb to be rejected by the fix of SECURITY-47, as <tt>crumb</tt> is a valid JavaScript identifier that would open you to attack.</p>

<!-- ### Imported Jira references for easier searching -->
<!-- [jira_issue_key=JENKINS-12875] -->
<!-- [jira_comment_id=236067] -->
<!-- [comment_author=jglick] -->
<details><summary><i><img align="left" width="20" src="https://raw.githubusercontent.com/jenkinsci/artifacts-from-jira-issues/refs/heads/main/avatars/jglick.png" title="jglick's avatar" /> jglick:</i></summary>

<ul>
<li><i>Original <a class="no-jira-link-rewrite" href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=236067&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-236067">comment link</a></i>
<li><details><summary><i>Raw content of original comment:</i></summary>

<pre>
<blockquote><p>Would like to understand better how a header name being a Javascript identifier opens one to attack</p></blockquote>

<p>It is complicated but has to do with how the crumb is offered to legitimate clients.</p>

<p>Anyway the fix is well understood and filed, “just” needs to be tested and reviewed by someone qualified in web security.</p>
</pre>
</details>

</ul>
</details>

<blockquote><p>Would like to understand better how a header name being a Javascript identifier opens one to attack</p></blockquote>

<p>It is complicated but has to do with how the crumb is offered to legitimate clients.</p>

<p>Anyway the fix is well understood and filed, “just” needs to be tested and reviewed by someone qualified in web security.</p>

<!-- ### Imported Jira references for easier searching -->
<!-- [jira_issue_key=JENKINS-12875] -->
<!-- [jira_comment_id=236091] -->
<!-- [comment_author=danielbeck] -->
<details><summary><i><img align="left" width="20" src="https://raw.githubusercontent.com/jenkinsci/artifacts-from-jira-issues/refs/heads/main/avatars/danielbeck.png" title="danielbeck's avatar" /> danielbeck:</i></summary>

<ul>
<li><i>Original <a class="no-jira-link-rewrite" href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=236091&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-236091">comment link</a></i>
<li><details><summary><i>Raw content of original comment:</i></summary>

<pre>
<p><a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=timboudreau" class="user-hover" rel="timboudreau">timboudreau</a> You wrote:</p>

<blockquote><p>".crumb" is not a legal HTTP header, but there are plenty of options that are legal HTTP headers and illegal as js identifiers</p></blockquote>

<p>Just curious, where did you get this information from? Neither RFC 2822 (section 2.6.8) nor RFC 7230 seem to impose any header name restrictions beyond being printable ascii and not including spaces or colons. (Not saying this shouldn't be fixed due to compatibility, but I looked repeatedly, even back when I worked on this, and couldn't find anything like what you're saying).</p>
</pre>
</details>

</ul>
</details>

<p><a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=timboudreau" class="user-hover" rel="timboudreau">timboudreau</a> You wrote:</p>

<blockquote><p>".crumb" is not a legal HTTP header, but there are plenty of options that are legal HTTP headers and illegal as js identifiers</p></blockquote>

<p>Just curious, where did you get this information from? Neither RFC 2822 (section 2.6.8) nor RFC 7230 seem to impose any header name restrictions beyond being printable ascii and not including spaces or colons. (Not saying this shouldn't be fixed due to compatibility, but I looked repeatedly, even back when I worked on this, and couldn't find anything like what you're saying).</p>

<!-- ### Imported Jira references for easier searching -->
<!-- [jira_issue_key=JENKINS-12875] -->
<!-- [jira_comment_id=236095] -->
<!-- [comment_author=blaisorblade] -->
<details><summary><i><img align="left" width="20" src="https://raw.githubusercontent.com/jenkinsci/artifacts-from-jira-issues/refs/heads/main/avatars/blaisorblade.jpg" title="blaisorblade's avatar" /> blaisorblade:</i></summary>

<ul>
<li><i>Original <a class="no-jira-link-rewrite" href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=236095&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-236095">comment link</a></i>
<li><details><summary><i>Raw content of original comment:</i></summary>

<pre>
<p>On header names: I mostly agree with Daniel Beck about the spec (after reading both specs, I've also looked at <a href="http://stackoverflow.com/a/3569667/53974" class="external-link" target="_blank" rel="nofollow noopener">http://stackoverflow.com/a/3569667/53974</a> — beyond colons, other "separators" are forbidden, but not dots). I think our source is just what the nginx docs imply without giving any reference (<a href="http://nginx.org/en/docs/http/ngx_http_core_module.html#ignore_invalid_headers" class="external-link" target="_blank" rel="nofollow noopener">http://nginx.org/en/docs/http/ngx_http_core_module.html#ignore_invalid_headers</a>).</p>

<p>&gt; Re the suggested additional headers: Some are not a bad idea, but I could write a NodeJS proxy that would strip those out in about 10 minutes and go hog wild (or just use a programmatic HTTP client) - you can't rely on that sort of thing to give you real security, just deter low-hanging-fruit bad behavior.</p>

<p>At least Strict-Transport-Security is there to offer some protection for clients (browsers) that do honor them (and I think some other ones too). Not sure how you propose to use the proxy, but that headers assumes Jenkins is behind HTTPS, and then attackers can't drop the header.</p>

<p>However, <b>please</b> don't silently enable Strict-Transport-Security — that's something for the sysadmin to decide, and it's not fun if one HTTP application enables it on a host where other services don't support HTTPS.</p>

<p>Anyway, this is OT here, maybe somebody (Tom Reynolds) can open a different bug for them? (I don't understand the headers well enough to do that).</p>
</pre>
</details>

</ul>
</details>

<p>On header names: I mostly agree with Daniel Beck about the spec (after reading both specs, I've also looked at <a href="http://stackoverflow.com/a/3569667/53974" class="external-link" target="_blank" rel="nofollow noopener">http://stackoverflow.com/a/3569667/53974</a> — beyond colons, other "separators" are forbidden, but not dots). I think our source is just what the nginx docs imply without giving any reference (<a href="http://nginx.org/en/docs/http/ngx_http_core_module.html#ignore_invalid_headers" class="external-link" target="_blank" rel="nofollow noopener">http://nginx.org/en/docs/http/ngx_http_core_module.html#ignore_invalid_headers</a>).</p>

<p>> Re the suggested additional headers: Some are not a bad idea, but I could write a NodeJS proxy that would strip those out in about 10 minutes and go hog wild (or just use a programmatic HTTP client) - you can't rely on that sort of thing to give you real security, just deter low-hanging-fruit bad behavior.</p>

<p>At least Strict-Transport-Security is there to offer some protection for clients (browsers) that do honor them (and I think some other ones too). Not sure how you propose to use the proxy, but that headers assumes Jenkins is behind HTTPS, and then attackers can't drop the header.</p>

<p>However, <b>please</b> don't silently enable Strict-Transport-Security — that's something for the sysadmin to decide, and it's not fun if one HTTP application enables it on a host where other services don't support HTTPS.</p>

<p>Anyway, this is OT here, maybe somebody (Tom Reynolds) can open a different bug for them? (I don't understand the headers well enough to do that).</p>

<!-- ### Imported Jira references for easier searching -->
<!-- [jira_issue_key=JENKINS-12875] -->
<!-- [jira_comment_id=252721] -->
<!-- [comment_author=scm_issue_link] -->
<details><summary><i><img align="left" width="20" src="https://raw.githubusercontent.com/jenkinsci/artifacts-from-jira-issues/refs/heads/main/avatars/scm_issue_link.png" title="scm_issue_link's avatar" /> scm_issue_link:</i></summary>

<ul>
<li><i>Original <a class="no-jira-link-rewrite" href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=252721&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-252721">comment link</a></i>
<li><details><summary><i>Raw content of original comment:</i></summary>

<pre>
<p>Code changed in jenkins
User: Daniel Beck
Path:
 test/src/test/java/lib/form/RowSetTest.java
<a href="http://jenkins-ci.org/commit/jenkins/5b1642252ebd977c21832eb12cae633b3616429f" class="external-link" target="_blank" rel="nofollow noopener">http://jenkins-ci.org/commit/jenkins/5b1642252ebd977c21832eb12cae633b3616429f</a>
Log:
  <a href="https://issues.jenkins.io/browse/JENKINS-12875" title="&quot;No valid crumb was included in the request&quot; errors all around" class="issue-link" data-issue-key="JENKINS-12875"><del>JENKINS-12875</del></a> Fix test</p>


</pre>
</details>

</ul>
</details>

<p>Code changed in jenkins<br/>
User: Daniel Beck<br/>
Path:<br/>
 test/src/test/java/lib/form/RowSetTest.java<br/>
<a href="http://jenkins-ci.org/commit/jenkins/5b1642252ebd977c21832eb12cae633b3616429f" class="external-link" target="_blank" rel="nofollow noopener">http://jenkins-ci.org/commit/jenkins/5b1642252ebd977c21832eb12cae633b3616429f</a><br/>
Log:<br/>
  <a href="https://issues.jenkins.io/browse/JENKINS-12875" title=""No valid crumb was included in the request" errors all around" class="issue-link" data-issue-key="JENKINS-12875"><del>JENKINS-12875</del></a> Fix test</p>



<!-- ### Imported Jira references for easier searching -->
<!-- [jira_issue_key=JENKINS-12875] -->
<!-- [jira_comment_id=255963] -->
<!-- [comment_author=danielbeck] -->
<details><summary><i><img align="left" width="20" src="https://raw.githubusercontent.com/jenkinsci/artifacts-from-jira-issues/refs/heads/main/avatars/danielbeck.png" title="danielbeck's avatar" /> danielbeck:</i></summary>

<ul>
<li><i>Original <a class="no-jira-link-rewrite" href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=255963&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-255963">comment link</a></i>
<li><details><summary><i>Raw content of original comment:</i></summary>

<pre>
<p><a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=janek" class="user-hover" rel="janek">janek</a></p>

<blockquote><p>which replaced the hard-coded '.crumb' header with 'Jenkins-Crumb', that's why they no longer match.</p></blockquote>

<p><a href="https://wiki.jenkins-ci.org/display/JENKINS/Features+controlled+by+system+properties" class="external-link" target="_blank" rel="nofollow noopener">The crumb name has been configurable since 1.310</a> (<tt>hudson.security.csrf.requestfield</tt>), and that was necessary for anyone running Jenkins behind nginx, as it dropped the <tt>.crumb</tt> header (<a href="https://issues.jenkins.io/browse/JENKINS-12875" title="&quot;No valid crumb was included in the request&quot; errors all around" class="issue-link" data-issue-key="JENKINS-12875"><del>JENKINS-12875</del></a>). So we renamed the default to something nginx accepts. Maybe it's a good idea to check which crumb name is used by Jenkins in your plugin to adapt to user configuration.</p>
</pre>
</details>

</ul>
</details>

<p><a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=janek" class="user-hover" rel="janek">janek</a></p>

<blockquote><p>which replaced the hard-coded '.crumb' header with 'Jenkins-Crumb', that's why they no longer match.</p></blockquote>

<p><a href="https://wiki.jenkins-ci.org/display/JENKINS/Features+controlled+by+system+properties" class="external-link" target="_blank" rel="nofollow noopener">The crumb name has been configurable since 1.310</a> (<tt>hudson.security.csrf.requestfield</tt>), and that was necessary for anyone running Jenkins behind nginx, as it dropped the <tt>.crumb</tt> header (<a href="https://issues.jenkins.io/browse/JENKINS-12875" title=""No valid crumb was included in the request" errors all around" class="issue-link" data-issue-key="JENKINS-12875"><del>JENKINS-12875</del></a>). So we renamed the default to something nginx accepts. Maybe it's a good idea to check which crumb name is used by Jenkins in your plugin to adapt to user configuration.</p>

<!-- ### Imported Jira references for easier searching -->
<!-- [jira_issue_key=JENKINS-12875] -->
<!-- [jira_comment_id=261967] -->
<!-- [comment_author=nvn] -->
<details><summary><i>nvn:</i></summary>

<ul>
<li><i>Original <a class="no-jira-link-rewrite" href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=261967&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-261967">comment link</a></i>
<li><details><summary><i>Raw content of original comment:</i></summary>

<pre>
<p>Hi Jan, yeah I think the issue is either with Jenkins or may be with Tfs-jenkins plugin, I am not sure. Pls suggest.</p>

<p>Thanks</p>
</pre>
</details>

</ul>
</details>

<p>Hi Jan, yeah I think the issue is either with Jenkins or may be with Tfs-jenkins plugin, I am not sure. Pls suggest.</p>

<p>Thanks</p>

<!-- ### Imported Jira references for easier searching -->
<!-- [synthetic_comment=relationship] -->
<!-- [jira_relationship_key=JENKINS-33810] --><!-- [jira_relationship_type=epic] -->
<i>[Original `epic` from Jira: <a href="https://github.com/jenkinsci/jenkins/issues?q=is%3Aissue%20%22jira_issue_key%3DJENKINS-33810%22">JENKINS-33810</a>]</i>
